<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='Tg' Id='41846ad1-84ca-43c6-97bc-e6a30ef52f69' UpgradeCode='088fdac7-fc91-4881-a2db-eed04425a207'
    Language='1033' Codepage='1252' Version='0.4.99' Manufacturer='Marcello Mamino'>

    <Package Id='*' Keywords='Installer'
      Description='Tg 0.4.99 Installer'
      Manufacturer='Marcello Mamino'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <MajorUpgrade AllowSameVersionUpgrades='yes' Schedule='afterInstallInitialize'
                  DowngradeErrorMessage='A newer version of [ProductName] is already installed.' />

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='tg-timer'>

          <Component Id='MainExecutable' Guid='85641299-1352-4d6e-962b-3f632d58a0b4'>
            <File Id='TgEXE' Name='tg.exe' DiskId='1' Source='tg.exe' KeyPath='yes'>
              <Shortcut Id='startmenuTg' Directory='ProgramMenuDir' Name='Tg 0.4.99' WorkingDirectory='INSTALLDIR' Icon='tg.exe' IconIndex='0' Advertise='yes' />
              <Shortcut Id='desktopTg' Directory='DesktopFolder' Name='Tg 0.4.99' WorkingDirectory='INSTALLDIR' Icon='tg.exe' IconIndex='0' Advertise='yes' />
            </File>
            <File Id='TgDocumentICO' Name='tg-document.ico' Source='tg-document.ico' />
            <ProgId Id='TgjFile' Description='Tg data file' Icon='TgDocumentICO'>
              <Extension Id='tgj' ContentType='application/x-tg-timer-data'>
                <Verb Id='open' Command='Open' TargetFile='TgEXE' Argument='"%1"' />
              </Extension>
            </ProgId>
          </Component>

          <Component Id='License' Guid='d283d117-b550-4e75-94bd-48aa3183462c'>
            <File Id='License' Name='LICENSE' DiskId='1' Source='LICENSE' KeyPath='yes' />
          </Component>

          <Component Id='Readme' Guid='e47614ca-8f88-4b7b-a2f5-850913490170'>
            <File Id='Readme' Name='README.md' DiskId='1' Source='README.md' KeyPath='yes' />
          </Component>

        </Directory>
      </Directory>

      <Directory Id='ProgramMenuFolder' Name='Programs'>
        <Directory Id='ProgramMenuDir' Name='Tg 0.4.99'>
          <Component Id='ProgramMenuDir' Guid='46c25851-1c8c-430f-8617-21cd16450ff4'>
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <Directory Id='DesktopFolder' Name='Desktop' />
    </Directory>

    <Feature Id='Complete' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='License' />
      <ComponentRef Id='Readme' />
      <ComponentGroupRef Id='Resources' />
      <ComponentRef Id='ProgramMenuDir' />
    </Feature>

    <Property Id='WIXUI_INSTALLDIR' Value='INSTALLDIR' />

    <WixVariable Id='WixUILicenseRtf' Value='LICENSE.rtf' />

    <UIRef Id='WixUI_InstallDir' />
    <UIRef Id='WixUI_ErrorProgressText' />

    <Icon Id='tg.exe' SourceFile='tg.exe' />

  </Product>
</Wix>
