<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='Tg' Id='e679153b-2568-496a-8c08-a85631d2f583' UpgradeCode='088fdac7-fc91-4881-a2db-eed04425a207'
    Language='1033' Codepage='1252' Version='0.4.1' Manufacturer='Marcello Mamino'>

    <Package Id='*' Keywords='Installer'
      Description='Tg 0.4.1-test Installer'
      Manufacturer='Marcello Mamino'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <MajorUpgrade AllowSameVersionUpgrades='yes' Schedule='afterInstallInitialize'
                  DowngradeErrorMessage='A newer version of [ProductName] is already installed.' />

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='tg-timer'>

          <Component Id='MainExecutable' Guid='0853715e-cb1f-4e3d-809e-4ba4797ad06a'>
            <File Id='TgEXE' Name='tg.exe' DiskId='1' Source='tg.exe' KeyPath='yes'>
              <Shortcut Id='startmenuTg' Directory='ProgramMenuDir' Name='Tg 0.4.1-test' WorkingDirectory='INSTALLDIR' Icon='tg.exe' IconIndex='0' Advertise='yes' />
              <Shortcut Id='desktopTg' Directory='DesktopFolder' Name='Tg 0.4.1-test' WorkingDirectory='INSTALLDIR' Icon='tg.exe' IconIndex='0' Advertise='yes' />
            </File>
            <ProgId Id='TgjFile' Description='Tg data file' Icon='tg-document.ico'>
              <Extension Id='tgj' ContentType='application/x-tg-timer-data'>
                <Verb Id='open' Command='Open' TargetFile='TgEXE' Argument='"%1"' />
              </Extension>
            </ProgId>
          </Component>

          <Component Id='License' Guid='2b307b4e-14c2-4097-bfeb-a2c5836eb6e5'>
            <File Id='License' Name='LICENSE' DiskId='1' Source='LICENSE' KeyPath='yes' />
          </Component>

          <Component Id='Readme' Guid='1ba234c1-dce4-47ef-b100-83261f8e0f79'>
            <File Id='Readme' Name='README.md' DiskId='1' Source='README.md' KeyPath='yes' />
          </Component>

        </Directory>
      </Directory>

      <Directory Id='ProgramMenuFolder' Name='Programs'>
        <Directory Id='ProgramMenuDir' Name='Tg 0.4.1-test'>
          <Component Id='ProgramMenuDir' Guid='29e56065-c1ad-4bb2-9ab5-b45c989ca7d7'>
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <Directory Id='DesktopFolder' Name='Desktop' />
    </Directory>

    <Feature Id='Complete' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='License' />
      <ComponentRef Id='Readme' />
      <ComponentGroupRef Id='Resources' />
      <ComponentRef Id='ProgramMenuDir' />
    </Feature>

    <Property Id='WIXUI_INSTALLDIR' Value='INSTALLDIR' />

    <WixVariable Id='WixUILicenseRtf' Value='LICENSE.rtf' />

    <UIRef Id='WixUI_InstallDir' />
    <UIRef Id='WixUI_ErrorProgressText' />

    <Icon Id='tg.exe' SourceFile='tg.exe' />

  </Product>
</Wix>
